<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>Skeleton Node App</title>
    <style>
      .box {
        background: #F5F5F5;
        width: 40vw;
        border-radius: 4px;
        margin-top: 3em;
        padding: 2em;
      }
    </style>
    <script type="text/javascript">
      $('html').addClass('hidden');
      $(document).ready(function() {
       });
     </script>
  </head>
  <body>
    <div class="container d-flex justify-content-center">
      <div class="d-flex flex-column box">
        <h2>Hi There</h2>
        <p>Clone me to get started with a node app</p>
      </div>
    </div>
  </body>
</html>
